body{
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
  display: flex;
  flex-direction: column;
  
  justify-content: space-between;

}

.header{
  display: flex;
  flex-direction: column;
  padding: 15px;
  margin: 0px;
  
  
}

.links{
  align-items: center;
  display: flex;
  justify-content: space-around;
  gap: 10px;
  margin: 0;
}

.header-links{
  display: flex;

  justify-content: space-around;
  gap: 20px;
}

ul{
  list-style-type: none;
}



.welcome{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  


}
.welcome-text-header{
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  width: 600px;
}
.welcome-text-title{
  font-size: 32px;
  font-weight: bold;
}
.welcome-text{
  font-style: italic;
  color: darkgrey;
}

.welcome-image{
  width: 300px;
  height: 150px;
  margin: 10px;
  background-color: lightslategray;
}

.contents{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

}

.info{
  align-items: center;
  display: flex;
  flex-direction: column;


}

.info-cards{
  display: flex;
  justify-content: center;
  
}

.cards{
  background-color: lightcoral;
  height: 100px;
  width: 75px;
  margin: 10px;
}

.quote{
  display: flex;
  background-color: lightslategray;
  justify-content: center;
  height: 200px;
}

.call-to-action{
  display: flex;
  
  justify-content: center;
  
  
}
.call-to-action-box{
  background-color:cornflowerblue;
  width: 600px;
  height: 75px;

}

.footer{
  display: flex;
  justify-content: center;
  
  height: 75px;
}

.header,
.footer{
  background-color: #1f2937;
  color: aliceblue;
}
